body {
    background-color: rgb(15, 15, 16);
    /* Ajusta la ruta según la ubicación de tu imagen */
    width: 1900px; /* Ancho de la imagen */
    height: 1080px; /* Altura de la imagen */

}

header {
    background-color: #f8fafaef; /* Color de fondo del encabezado */
    padding: 20px 0; /* Espaciado interno del encabezado */
    
}

.carrusel {
    max-width: 800px; /* ajusta este valor según sea necesario */
    margin: 0 auto; /* centra el contenedor horizontalmente */
}

.centrar{
    color: rgb(239, 236, 230);
    text-align: center;
}

