body {
    background-color: aliceblue;
    /* Ajusta la ruta según la ubicación de tu imagen */
    width: 1900px; /* Ancho de la imagen */
    height: 1080px; /* Altura de la imagen */

}

header {
    background-color: #83e4f5ef; /* Color de fondo del encabezado */
    padding: 20px 0; /* Espaciado interno del encabezado */
}

.carrusel {
    max-width: 800px; /* ajusta este valor según sea necesario */
    margin: 0 auto; /* centra el contenedor horizontalmente */
}
